:root {
    --bg-color: #ffffff;
    --text-color: #37352f;
    --accent-color: #2eaadc; /* Azul tecnológico */
    --card-bg: #f1f1ef;
}

body {
    font-family: "Playwrite AU TAS";
    margin: 0;
    color: var(--text-color);
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('assets/capa.png');
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
}

.hero h1 { font-size: 3rem; margin: 0; }

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.recursos-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.card-recurso {
    background: var(--card-bg);
    padding: 20px;
    border-radius: 12px;
}

summary {
    cursor: pointer;
    outline: none; /* Remove o contorno que alguns navegadores colocam ao clicar */
}

.lista {
    list-style: none; /* Remove os pontinhos */
    padding: 0;
    margin: 10px;
}

.lista li {
    display: flex;
    align-items: center;
    margin-bottom: 12px; /* Espaçamento suave entre itens */
    padding: 8px 12px; /* Espaço interno para a sombra não ficar colada no texto */
    border-radius: 8px;
    transition: all 0.3s ease; /* Suaviza a aparição da sombra */
}

.lista a {
    text-decoration: none; /* Remove o sublinhado */
    color: #37352f;        /* Cor do texto igual ao resto da página */
    font-size: 1rem;
    display: inline-block; /* Necessário para o efeito de aumento (scale) funcionar */
    transition: all 0.2s ease;
    margin: 2px;
}

.lista li:hover a {
    color: #2eaadc;
    transform: scale(1.08); /* Aumenta a letra em 8% */
}

.mini-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
    vertical-align: middle;
}

.episodios-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.episodio-card {
    border: 1px solid #e9e9e7;
    border-radius: 15px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.episodio-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.thumb-container img {
    width: 100%;
    height: 400px;
    object-fit:cover;
}

.episodio-info {
    padding: 20px;
}

audio {
    width: 100%;
    margin-top: 15px;
}

footer {
    text-align: center;
    padding: 40px;
    font-size: 0.9rem;
    color: #888;
}